body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.container {
  margin: auto;
  max-width: 600px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #bfbfbf;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-top: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
}

